#bg {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    /*height: 100vh;*/
}
#bg img {
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
}

/*Customizing the backgroud for stupid firefox*/
@-moz-document url-prefix() {
    #bg {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
    }
    #bg img {
        background-size: cover;
        display: block;
        width: 100vw;
        object-fit: none;
        height: auto;
    }
}

.modal-dialog {
    margin-top: 50px;
}
.modal-content > .modal-content-center {
    text-align: center;
}

a {
    color: #428bca;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0px 0 3px;
}
.navbar-default {
    border-color: #D8D8D8;
}

.content {
    max-width: 580px;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    margin: auto;
    background: rgba(255,255,255,0.7);
    background: #FFF \9;
    overflow: hidden;
    z-index: 3;
    position: relative;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.7);
}
.clock-content {
    max-width: 540px;
    margin: auto;

    padding-top: 20px;
    background: rgba(55,55,57,1);
    background: #373739 \9;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.7);
}
.center-clock {
    margin: auto 20px auto;
}
span.angletop {
    -webkit-transform: translate3d(0,0,0);
    border: 10px solid transparent;
    margin: auto;
    border-top-width: 15px;
    border-bottom: 10px solid rgba(255,255,255,0.7) !important;
    border-bottom: 10px solid #FFF !important \9;
    z-index: 2;
    max-width: 580px;
    display: block;
    position: relative;
}
span.logoangletop {
    border: 50px solid transparent;
    border-bottom: 35px solid rgba(255, 255, 255, 0.7) !important;
    border-bottom: 35px solid #FFF !important \9;
    z-index: 3;
    width: 0px;
    margin: 330px auto -28px;
    display: block;
    position: relative;
}
span.anglebottom {
    border: 10px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.7) !important;
    border-top: 10px solid #FFF !important \9;
    z-index: 4;
    max-width: 580px;
    margin: 0 auto;
    display: block;
    position: relative;
}
hr.dots {
    background: none;
    border: 0;
    border-top: 8px dotted #3d4958;
    margin: 13px 23px 20px 23px;
    clear: both;
}
.logo {
    margin: 22px auto -120px;
    /*margin-bottom: -120px;*/
    /*margin-right: 22px;*/
    /*margin-left: 22px;*/
    text-align: center;
    position: relative;
    z-index: 5;
}
.center-content {
    margin: auto 20px auto;
}
img {
    max-width: 100%;
}
.modal {
    overflow-y: hidden;
}
.modal .modal-body {
    max-height: 60vh;
    overflow-y: auto;
}
.modal-backdrop {
    position: fixed;
}
.highlight-row {
    background-color: #00b3ee !important;
    color: white;
}
.highlight-row:hover {
    background-color: #016d92 !important;
}
.table-hover>tbody>tr:hover {
    background-color: #E7E7E7;
}
.song-input {
    margin-top: 10px;
}
.map-container {
    height: 200px;
    width: 100%;
}
/** FIX for Bootstrap and Google Maps Info window styles problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
    max-width: none;
}
#chrome-fix {
    -webkit-transform: scale3d(1,1,1);
}
.gmnoprint {
    -webkit-transform: scale3d(1,1,1);
}



/* Countdown timer stuff */
@media all
and (min-width: 621px) {
    div .clock {
        margin-right: auto;
        margin-left: auto;
        width: 99%;
    }
}

.flip-clock-wrapper .flip {
    /*box-shadow: none;*/
}
.flip-clock-dot {
    box-shadow: none;
    background: #4E5D6C;
}
.flip-clock-wrapper ul li a div div.inn {
    color: #F7F9FA;
    background-color: #4E5D6C;

}
#clock-div {
    /* fix clock re-rendering issue */
    -webkit-transform: translate3d(0,0,0);
}
.flip-clock-divider.days .flip-clock-label {
    font-size: 25px;
    right: -96px;
    left: 13px;
}
.flip-clock-divider.hours .flip-clock-label {
    font-size: 25px;
    right: -108px;
    left: 25px;
}
.flip-clock-divider.minutes .flip-clock-label {
    font-size: 25px;
    right: -139px;
    left: 24px;
}

/* Centering the clock */
/* Comment back in once we are less than 100 days!!! */

.clock-content > .block {
    margin: 0 auto;
    max-width: 472px;
}


