<template name="content2">

    <div class="modal fade" id="demoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">RSVP -- For yourself or a group</h4>
                </div>

                <div class="modal-body">
                    <form action="">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
                                <li class=""><a href="#tab2" data-toggle="tab">Section 2</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab1">
                                    <p>Form for section one</p>
                                    <a href="#tab2" data-toggle="tab" class="btn pull-right">Next</a>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <p>Next form part</p>
                                    <a href="#tab2" data-toggle="tab" class="btn pull-left">Prev</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


</template>