<template name="firstVisitModal">

    <div class="modal fade" id="firstVisitModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content ">

                <div class="modal-body modal-content-center">
                    <h1>Welcome to our wedding website!</h1>
                    <p>Feel free to look around or click the button below to RSVP</p>
                </div>

                <div class="modal-footer modal-content-center">
                    <button id="rsvpFirst" type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#rsvpModal">RSVP</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Explore</button>
                </div>

            </div>
        </div>
    </div>

</template>