<template name="foodModal">

    <div class="modal fade" id="foodModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" name="page-1">Our Menu</h4>
                </div>

                <div class="modal-body">
                    <p>
                        <strong>
                            Our reception will be catered by <a href="http://amoveablefeasttruck.com/">A Moveable Feast Food Truck</a>.
                        </strong>
                    </p>
                    <br/>
                    <p>Please let us know in the comment section below of any dietary restrictions you may have:</p>
                    <div class="well">
                        <div class="menuCommentDiv">
                            <input id="commentName" type="text" class="form-control" placeholder="Your name">
                            <br/>
                            <textarea id="commentField" class="form-control" rows="3" placeholder="Comments"></textarea>
                            <br/>
                            <button id="addComment" type="button" class="btn btn-success">Send Comment</button>
                        </div>

                        <p id="menuCommentSuccess" class="text-success" style="display: none">Thanks for your comment!</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<div class="row">-->
                        <p class="pull-left"><i>We will update this page with a specific menu at the end of May.</i></p>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>

</template>