<template name="foodModal">

    <div class="modal fade" id="foodModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" name="page-1">Menu for the Reception</h4>
                </div>

                <div class="modal-body">
                    <hr class="dots">
                    <div class="text-center">
                        <h2 style="color: #4E5D6C"><strong>Our Caterer</strong></h2>
                    </div>
                    <hr class="dots">
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
                            <img class="caterer-image" src="/images/foodtruck.png">
                        </div>
                        <div class="col-xs-6">
                            <h2 class="caterer-text">
                                Our reception will be catered by:
                            </h2>
                            <h2 class="text-center" style="padding-right: 25px;">
                                <a href="http://amoveablefeasttruck.com/" target="_blank">A Moveable Feast Food Truck</a>
                            </h2>
                        </div>
                    </div>

                    <br/>
                    <br/>

                    <hr class="dots">
                    <div class="text-center">
                        <h2 style="color: #4E5D6C"><strong>Our Menu</strong></h2>
                    </div>
                    <hr class="dots">

                    <div class="padding">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-center">
                                    <h3 style="margin-top: 0; color: #4E5D6C; font-weight: bold;"><i>Entrees</i></h3>
                                </div>
                                <ul class="apple_bullet">
                                    <li>Black Bean, Corn, and Sweet Potato Tacos (V)</li>
                                    <li style="height: 33px;">Jamaican Jerk Chicken Burrito</li>
                                    <li>Hawaiian Pulled Pork Sandwich</li>
                                </ul>

                                <div class="text-center">
                                    <h3 style="color: #4E5D6C; margin-top: 0; font-weight: bold;"><i>Sides</i></h3>
                                </div>
                                <ul class="apple_bullet">
                                    <li>Roasted Red and Sweet Potato Salad (V)</li>
                                    <li>Macaroni and Cheese (V)</li>
                                </ul>
                            </div>

                            <div class="col-sm-6 text-center">
                                <img style="margin-top: 25px;  box-shadow: 5px 5px 7px rgba(0,0,0,0.3);  border: 2px solid #BABABA;" src="/images/foodpicture.jpeg">
                            </div>
                        </div>
                    </div>

                    <hr class="dots">
                    <div class="text-center">
                        <h2 style="color: #4E5D6C"><strong>What's For Dessert?</strong></h2>
                    </div>
                    <hr class="dots">

                    <div class="row">
                        <div class="col-sm-6" style="padding-right: 0">
                            <div class="text-center" style="padding-left: 10px">
                                <img src="/images/ice_cream_bar.jpeg">
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding-left: 0">
                            <div class="text-center" style="padding-right: 25px">
                                <a href="http://www.iceboxbrand.com/home.html" target="_blank">
                                    <img style="margin-top: 60px" src="/images/icecreambars.jpeg">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</template>