<template name="login">
    <!--This page is just a placeholder so that we can call a login function and have it routed correctly-->
{{> loginButtons}}

    <div id="loginFailModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Sorry, only Mitch and Cath may view this page.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>