<template name="mainNav">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Mitch and Cath's Wedding</a>
                <button id="navbarMenuButton" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="rsvpNavButton" href="#" data-toggle="modal" data-target="#rsvpModal">RSVP</a>
                    </li>
                    <li>
                        <a id="mapNavButton" href="#" data-toggle="modal" data-target="#mapModal">Map</a>
                    </li>
                    <li>
                        <a id="registryNavButton" href="#" data-toggle="modal" data-target="#registryModal">Gift Registry</a>
                    </li>
                    <li>
                        <a id="foodNavButton" href="#" data-toggle="modal" data-target="#foodModal">Food</a>
                    </li>
                    <li>
                        <a id="photoGalleryButton" href="#" alt="Come see how good we look">Photos</a>
                    </li>


                </ul>
                <ul class="nav navbar-nav pull-right">
                    <!-- I should put something here -->
                </ul>

            </div>
        </div>
    </div>

</template>