<template name="photoGallery">

    <div class="modal fade" id="photoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" name="page-1">Photo Gallery</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div id="mainGallery">

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-4-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-4-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-4-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-5-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-5-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-5-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-12-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-12-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-12-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-21-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-21-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-21-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-26-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-26-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-26-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-28-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-28-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-28-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-29-lg.jpg" data-size="3000x1929" data-med="/images/gallery/photo-29-sm.jpg" data-med-size="600x386">
                                    <img src="/images/gallery/thumbs/photo-29-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <!--Still need the small dimensions on this one-->
                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-33-lg.jpg" data-size="3000x2458" data-med="/images/gallery/photo-33-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-33-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-35-lg.jpg" data-size="2000x3000" data-med="/images/gallery/photo-35-sm.jpg" data-med-size="400x600">
                                    <img src="/images/gallery/thumbs/photo-35-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-37-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-37-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-37-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-39-lg.jpg" data-size="3000x3000" data-med="/images/gallery/photo-39-sm.jpg" data-med-size="500x500">
                                    <img src="/images/gallery/thumbs/photo-39-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-41-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-41-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-41-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-44-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-44-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-44-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-55-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-55-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-55-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-71-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-71-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-71-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-74-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-74-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-74-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-77-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-77-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-77-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-81-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-81-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-81-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-87-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-87-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-87-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-94-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-94-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-94-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a class="thumbnail" href="/images/gallery/photo-97-lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo-97-sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo-97-thumb.jpg" class="img-responsive"/>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <p class="pull-left">
                        Photos by
                        <a href="http://stephennorregaardphotography.com/">Stephen Norregaard Photography</a>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!--PhotoSwipe stuff-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">


            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

</template>