<template name="photoGallery">

    <div class="modal fade" id="photoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" name="page-1">Photo Gallery</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div id="mainGallery">

                            <div class="col-xs-6 col-sm-3">
                                <a href="/images/gallery/photo_1_lg.jpg" data-size="3000x2132" data-med="/images/gallery/photo_1_sm.jpg" data-med-size="600x426">
                                    <img src="/images/gallery/thumbs/photo_1_thumb.jpg" alt="" />
                                </a>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <a href="/images/gallery/photo_21_lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo_21_sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo_21_thumb.jpg" alt="" />
                                </a>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <a href="/images/gallery/photo_26_lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo_26_sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo_26_thumb.jpg" alt="" />
                                </a>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <a href="/images/gallery/photo_37_lg.jpg" data-size="3000x2000" data-med="/images/gallery/photo_37_sm.jpg" data-med-size="600x400">
                                    <img src="/images/gallery/thumbs/photo_37_thumb.jpg" alt="" />
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--PhotoSwipe stuff-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">


            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

</template>