<template name="registryModal">

    <div class="modal fade" id="registryModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" name="page-1">Gift Registries</h4>
                </div>

                <div class="modal-body">
                    <hr class="dots">
                    <div class="text-center">
                        <h2 style="color: #4E5D6C"><strong>Our Registries</strong></h2>
                    </div>
                    <hr class="dots">
                    <div class="text-center registry-div">
                        <a class="registry-link" href="http://www.target.com/gift-registry/registry/_ApowlPfpxDRTDGnL5WBnA" target="_blank">
                            <img class="registry-image left" src="/images/registries/Target_logo.png" title="Online and in store">
                        </a>
                        <a class="registry-link" href="https://www.blueprintregistry.com/registry/MitchandCath" target="_blank">
                            <img class="registry-image right" src="/images/registries/BluePrint_Circle_Blue.png" title="Online only">
                        </a>

                    </div>
                    <hr class="dots">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</template>