<template name="welcome">

    <div class="jumbotron foreground-content">
        <div class="container">
            <div class="row">
                <h1 class="text-center text-uppercase">Welcome!</h1>
                <p class="text-center">We are so glad you're here!</p>
                <p class="text-center text-welcome-info">Use this website to find out about Mitch and Cath's super awesome fantastic wedding.</p>

                <p class="text-info text-center text-smaller">Take a look around or use the links at the top to quickly navigate to a specific area.</p>
            </div>
        </div>
    </div>

</template>